{% from "_formhelpers.html" import render_field %}
<head>
<title>jQuery File Upload Example</title>
</head>
<body>
<form>
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.id) }}
<p><input id="fileupload" type="file" name="files[]" data-url="/upload" multiple>
  </dl>
</form>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<script src="static/js/jquery.iframe-transport.js"></script>
<script src="static/js/jquery.fileupload.js"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        maxChunkSize: 10000,
        dataType: 'json',
        done: function (e, data) {
            $.each(data.result.files, function (index, file) {
                $('<p/>').text(file.name).appendTo(document.body);
            });
        }
    });
});
</script>
</body> 
