{% include 'bootstrap.html' %}

<link rel="stylesheet" href="static/css/jquery.fileupload.css">

<head>
<title>jQuery File Upload Example</title>
</head>
<body>
<div class="well">
<h3>Please select file to upload</h3>

<span class="btn btn-success fileinput-button">
   <i class="glyphicon glyphicon-plus"></i>
   <span>Select files...</span>
   <!-- The file input field used as target for the file upload widget -->
   <input id="fileupload" type="file" name="files[]" data-url="/uploadfile" multiple>
</span>

<p>
<div id="progress" class="progress">
   <div class="progress-bar progress-bar-success"></div>
</div>

<p>
<button class="btn btn-primary" onclick="window.location.href='/upload'">Finished</button>

<!-- The jQuery UI widget factory, can be omitted if jQuery UI is already includ
ed -->
<script src="static/js/vendor/jquery.ui.widget.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="static/js/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="static/js/jquery.fileupload.js"></script>

<script>
$(function () {
    $('#fileupload').fileupload({
        maxChunkSize: 10000,
        dataType: 'json',
        formData: {data: "{{ data }}"},
        progressall: function (e, data) {
            var progress = parseInt(data.loaded / data.total * 100, 10);
            $('#progress .progress-bar').css(
                'width',
                progress + '%'
            );
        }
    });
});
</script>

</div>
</body> 
