{% include 'bootstrap.html' %}

{% from "_formhelpers.html" import render_field %}

<head>
<title>Upload Example</title>
</head>
<body>
<div class="well">
<h3>Please enter upload information</h3>
<form action="" method="post" name="upload">
  <dl>
    {{ render_field(form.name) }}
    {{ render_field(form.email) }}
    {{ render_field(form.id) }}

    <p>
    <div class="control-group">
    <div class="controls">
    <input class="btn btn-primary" type="submit" value="Sign In"></p>
    </div>
    </div>
  </dl>
</form>
</div>
</body> 
